In [1]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import warnings 
import pandas_ta
warnings.filterwarnings('ignore')
from datetime import timedelta

In [2]:
sp500=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500['Symbol']=sp500['Symbol'].str.replace('.','-')
symbols_list=sp500['Symbol'].unique().tolist()
end_date='2024-08-15'
start_date=pd.to_datetime(end_date)-pd.DateOffset(365*8)
df=yf.download(tickers=symbols_list, start=start_date, end=end_date).stack()
df.index.names=['date','ticker']
df.columns=df.columns.str.lower()
df

[*********************100%%**********************]  503 of 503 completed

Price               adj close       close        high         low        open  \
date       ticker
2016-08-17 A        45.481186   48.430000   48.630001   48.080002   48.630001
           AAL      35.278728   36.599998   36.750000   36.189999   36.680000
           AAPL     25.185986   27.305000   27.342501   27.084999   27.275000
           ABBV     47.342251   66.830002   67.349998   66.349998   66.690002
           ABT      38.596272   44.680000   45.139999   44.439999   45.139999
...                       ...         ...         ...         ...         ...
2024-08-14 XYL     131.490005  131.490005  132.229996  130.580002  131.720001
           YUM     137.259995  137.259995  138.199997  137.050003  137.500000
           ZBH     108.629997  108.629997  110.169998  107.760002  109.580002
           ZBRA    333.239990  333.239990  333.660004  327.589996  332.230011
           ZTS     183.380005  183.380005  188.500000  182.490005  188.050003

Price                   volume
date       ticker
2016-08-17 A         3154900.0
           AAL       8002000.0
           AAPL    101424000.0
           ABBV      7945400.0
           ABT       8630300.0
...                        ...
2024-08-14 XYL        813400.0
           YUM       1267900.0
           ZBH       1166000.0
           ZBRA       248800.0
           ZTS       2153100.0

[990557 rows x 6 columns]

In [ ]:
df1=df.copy()
df1_dropped=df1.drop(columns=['high','low','open','volume','close'])
df3=df1_dropped.unstack().reset_index()

In [9]:
def fetch_data(tickers, start_date, end_date):
    """Fetch historical data for the given tickers."""
    data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker')
    return data

In [12]:
def calculate_trailing_returns(df, window=30):
    returns= pd.DataFrame()
    for ticker in df.columns.levels[0]:
        adj_close=df[ticker]['Adj Close']
        trailing_return=adj_close.pct_change(window).dropna()
        returns[ticker]=trailing_return
    returns.index=pd.to_datetime(returns.index)
    return returns

In [30]:
#Weekly Positions
def weekly_positions(returns_df, top_n=5, bottom_n=5):
    returns_df = returns_df.resample('W').last()

    long_candidates={}
    short_candidates={}

    for date, data in returns_df.iterrows():
    # long_candidates= weekly_df.apply(lambda x: x.nsmallest(10).index.tolist(),axis=1)
    # short_candidates = weekly_df.apply(lambda x: x.nlargest(10).index.tolist(),axis=1)
    # return long_candidates,short_candidates
        long_candidates[date] = data.nsmallest(bottom_n).index.tolist()
        short_candidates[date] = data.nlargest(top_n).index.tolist()
    
    return long_candidates, short_candidates

In [31]:
def plot_candidates(data, candidates, position_type):
    for ticker in candidates:
        plt.figure(figsize=(10,5))
        data[ticker]['Adj Close'].plot(title=f"{position_type} Candidate: {ticker}")
        plt.xlabel('Date')
        plt.ylabel('Adjusted Close Price')
        plt.show()

In [32]:
from datetime import datetime, timedelta
sp500_tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA','AAL','AMD','IBM','ORCL','NKE','PEP']  # Example tickers
start_date = (datetime.now() - timedelta(days=365)).strftime('%Y-%m-%d')
end_date = datetime.now().strftime('%Y-%m-%d')

In [33]:
data=fetch_data(sp500_tickers, start_date, end_date)

[*********************100%%**********************]  11 of 11 completed

In [34]:
returns_df = calculate_trailing_returns(data, window=5)
returns_df

,AAL,AAPL,AMD,AMZN,GOOGL,IBM,MSFT,NKE,ORCL,PEP,TSLA
Date,,,,,,,,,,,
2023-08-24,-0.031894,0.013678,-0.025278,-0.015973,-0.001078,0.020546,0.009751,-0.070633,-0.017148,-0.007117,0.049357
2023-08-25,-0.030585,0.023612,-0.030346,0.000300,0.018986,0.027862,0.020539,-0.056960,-0.003435,0.006959,0.107198
2023-08-28,-0.028364,0.024738,-0.051839,-0.011434,0.020565,0.026286,0.005654,-0.031402,0.002144,0.018074,0.032601
2023-08-29,0.004720,0.038876,0.002461,0.004916,0.042532,0.035055,0.018452,0.003055,0.035267,0.029767,0.102877
2023-08-30,-0.000677,0.036053,-0.025953,-0.003321,0.026517,0.024057,0.005474,0.033924,0.027834,0.016618,0.084607
...,...,...,...,...,...,...,...,...,...,...,...
2024-08-09,0.023884,-0.016465,0.013359,-0.005718,-0.017941,0.021174,-0.006047,0.004459,-0.009154,-0.031734,-0.036934
2024-08-12,0.035560,0.040674,0.014464,0.035896,0.019089,0.042699,0.029508,0.045085,0.036915,-0.015054,-0.006989
2024-08-13,0.053706,0.068987,0.084114,0.051257,0.037084,0.031373,0.036035,0.082759,0.047188,-0.000696,0.035835
2024-08-14,0.051836,0.057938,0.093884,0.045033,0.008997,0.038555,0.046257,0.081245,0.077045,0.011177,0.050167
2024-08-15,0.020222,0.054710,0.080986,0.071110,-0.004505,0.015764,0.047428,0.112010,0.061802,0.000870,0.076946

In [35]:
longs, shorts = weekly_positions(returns_df, top_n=5, bottom_n=5)

In [37]:
for date in sorted(longs.keys()):
    print(f"Week of {date.date()}:")
    print(f"Long Positions: {longs[date]}")
    print(f"Short Positions: {shorts[date]}")
    print()

Week of 2023-08-27:
Long Positions: ['NKE', 'AAL', 'AMD', 'ORCL', 'AMZN']
Short Positions: ['TSLA', 'IBM', 'AAPL', 'MSFT', 'GOOGL']

Week of 2023-09-03:
Long Positions: ['PEP', 'AAL', 'MSFT', 'IBM', 'TSLA']
Short Positions: ['AMD', 'AAPL', 'GOOGL', 'ORCL', 'NKE']

Week of 2023-09-10:
Long Positions: ['AAPL', 'AAL', 'TSLA', 'NKE', 'PEP']
Short Positions: ['ORCL', 'MSFT', 'IBM', 'AMD', 'AMZN']

Week of 2023-09-17:
Long Positions: ['ORCL', 'AAL', 'AMD', 'AAPL', 'NKE']
Short Positions: ['TSLA', 'PEP', 'AMZN', 'GOOGL', 'IBM']

Week of 2023-09-24:
Long Positions: ['TSLA', 'AMZN', 'NKE', 'AMD', 'GOOGL']
Short Positions: ['IBM', 'AAPL', 'PEP', 'AAL', 'MSFT']

Week of 2023-10-01:
Long Positions: ['IBM', 'PEP', 'ORCL', 'AAPL', 'AMZN']
Short Positions: ['AMD', 'NKE', 'TSLA', 'GOOGL', 'MSFT']

Week of 2023-10-08:
Long Positions: ['PEP', 'AAL', 'AMZN', 'IBM', 'NKE']
Short Positions: ['GOOGL', 'AMD', 'TSLA', 'ORCL', 'AAPL']

Week of 2023-10-15:
Long Positions: ['AAL', 'TSLA', 'IBM', 'AMD', 'ORCL']
Short Positions: ['NKE', 'AMZN', 'AAPL', 'MSFT', 'GOOGL']

Week of 2023-10-22:
Long Positions: ['TSLA', 'ORCL', 'AAL', 'AMZN', 'AAPL']
Short Positions: ['NKE', 'PEP', 'MSFT', 'IBM', 'GOOGL']

Week of 2023-10-29:
Long Positions: ['GOOGL', 'AMD', 'NKE', 'AAPL', 'TSLA']
Short Positions: ['IBM', 'AMZN', 'MSFT', 'PEP', 'ORCL']

Week of 2023-11-05:
Long Positions: ['IBM', 'PEP', 'AAPL', 'GOOGL', 'TSLA']
Short Positions: ['AMD', 'AAL', 'NKE', 'AMZN', 'ORCL']

Week of 2023-11-12:
Long Positions: ['TSLA', 'AAL', 'NKE', 'PEP', 'IBM']
Short Positions: ['AAPL', 'AMD', 'MSFT', 'ORCL', 'AMZN']

Week of 2023-11-19:
Long Positions: ['NKE', 'PEP', 'MSFT', 'AMZN', 'AMD']
Short Positions: ['TSLA', 'AAL', 'IBM', 'GOOGL', 'ORCL']

Week of 2023-11-26:
Long Positions: ['GOOGL', 'NKE', 'AAPL', 'MSFT', 'TSLA']
Short Positions: ['AMZN', 'AMD', 'IBM', 'ORCL', 'PEP']

Week of 2023-12-03:
Long Positions: ['GOOGL', 'MSFT', 'AMD', 'AMZN', 'PEP']
Short Positions: ['NKE', 'AAL', 'IBM', 'TSLA', 'ORCL']

Week of 2023-12-10:
Long Positions: ['ORCL', 'PEP', 'MSFT', 'AMZN', 'IBM']
Short Positions: ['AMD', 'AAL', 'GOOGL', 'AAPL', 'NKE']

Week of 2023-12-17:
Long Positions: ['ORCL', 'GOOGL', 'MSFT', 'IBM', 'PEP']
Short Positions: ['AMD', 'AAL', 'NKE', 'TSLA', 'AMZN']

Week of 2023-12-24:
Long Positions: ['NKE', 'AAPL', 'AAL', 'TSLA', 'IBM']
Short Positions: ['GOOGL', 'ORCL', 'AMZN', 'MSFT', 'PEP']

Week of 2023-12-31:
Long Positions: ['NKE', 'AAL', 'TSLA', 'AMZN', 'AAPL']
Short Positions: ['AMD', 'IBM', 'PEP', 'MSFT', 'ORCL']

Week of 2024-01-07:
Long Positions: ['AMD', 'AAPL', 'TSLA', 'NKE', 'AMZN']
Short Positions: ['PEP', 'MSFT', 'AAL', 'IBM', 'GOOGL']

Week of 2024-01-14:
Long Positions: ['TSLA', 'AAL', 'PEP', 'AAPL', 'NKE']
Short Positions: ['AMZN', 'AMD', 'MSFT', 'GOOGL', 'IBM']

Week of 2024-01-21:
Long Positions: ['TSLA', 'AAL', 'NKE', 'PEP', 'AMZN']
Short Positions: ['AMD', 'IBM', 'ORCL', 'MSFT', 'AAPL']

Week of 2024-01-28:
Long Positions: ['TSLA', 'AAPL', 'NKE', 'PEP', 'MSFT']
Short Positions: ['AAL', 'IBM', 'ORCL', 'GOOGL', 'AMZN']

Week of 2024-02-04:
Long Positions: ['GOOGL', 'AAL', 'AAPL', 'NKE', 'IBM']
Short Positions: ['AMZN', 'TSLA', 'PEP', 'MSFT', 'ORCL']

Week of 2024-02-11:
Long Positions: ['AMD', 'PEP', 'ORCL', 'IBM', 'AMZN']
Short Positions: ['GOOGL', 'NKE', 'TSLA', 'MSFT', 'AAL']

Week of 2024-02-18:
Long Positions: ['GOOGL', 'ORCL', 'MSFT', 'AAPL', 'AMZN']
Short Positions: ['TSLA', 'AMD', 'IBM', 'PEP', 'NKE']

Week of 2024-02-25:
Long Positions: ['TSLA', 'ORCL', 'AAPL', 'IBM', 'NKE']
Short Positions: ['AMZN', 'AAL', 'PEP', 'MSFT', 'GOOGL']

Week of 2024-03-03:
Long Positions: ['GOOGL', 'NKE', 'PEP', 'AAPL', 'MSFT']
Short Positions: ['AMD', 'TSLA', 'AAL', 'AMZN', 'ORCL']

Week of 2024-03-10:
Long Positions: ['TSLA', 'AAL', 'AAPL', 'NKE', 'MSFT']
Short Positions: ['IBM', 'AMD', 'PEP', 'ORCL', 'GOOGL']

Week of 2024-03-17:
Long Positions: ['AMD', 'TSLA', 'AAL', 'IBM', 'AMZN']
Short Positions: ['ORCL', 'GOOGL', 'MSFT', 'AAPL', 'PEP']

Week of 2024-03-24:
Long Positions: ['AMD', 'NKE', 'AAPL', 'IBM', 'ORCL']
Short Positions: ['GOOGL', 'AAL', 'PEP', 'TSLA', 'MSFT']

Week of 2024-03-31:
Long Positions: ['NKE', 'ORCL', 'MSFT', 'IBM', 'AAPL']
Short Positions: ['AAL', 'GOOGL', 'TSLA', 'PEP', 'AMZN']

Week of 2024-04-07:
Long Positions: ['AAL', 'TSLA', 'AMD', 'NKE', 'PEP']
Short Positions: ['AMZN', 'MSFT', 'GOOGL', 'ORCL', 'IBM']

Week of 2024-04-14:
Long Positions: ['AAL', 'AMD', 'IBM', 'ORCL', 'MSFT']
Short Positions: ['AAPL', 'TSLA', 'NKE', 'GOOGL', 'AMZN']

Week of 2024-04-21:
Long Positions: ['TSLA', 'AMD', 'AAPL', 'AMZN', 'MSFT']
Short Positions: ['AAL', 'PEP', 'NKE', 'IBM', 'GOOGL']

Week of 2024-04-28:
Long Positions: ['IBM', 'AAL', 'NKE', 'PEP', 'MSFT']
Short Positions: ['TSLA', 'GOOGL', 'AMD', 'AMZN', 'AAPL']

Week of 2024-05-05:
Long Positions: ['AMD', 'GOOGL', 'NKE', 'ORCL', 'IBM']
Short Positions: ['AAPL', 'TSLA', 'AMZN', 'PEP', 'MSFT']

Week of 2024-05-12:
Long Positions: ['TSLA', 'NKE', 'AAPL', 'AMZN', 'ORCL']
Short Positions: ['AAL', 'PEP', 'MSFT', 'IBM', 'AMD']

Week of 2024-05-19:
Long Positions: ['AMZN', 'IBM', 'PEP', 'NKE', 'MSFT']
Short Positions: ['AMD', 'ORCL', 'TSLA', 'GOOGL', 'AAPL']

Week of 2024-05-26:
Long Positions: ['AAL', 'PEP', 'AMZN', 'GOOGL', 'ORCL']
Short Positions: ['MSFT', 'AMD', 'IBM', 'TSLA', 'AAPL']

Week of 2024-06-02:
Long Positions: ['AAL', 'ORCL', 'PEP', 'MSFT', 'AMZN']
Short Positions: ['AMD', 'NKE', 'AAPL', 'TSLA', 'GOOGL']

Week of 2024-06-09:
Long Positions: ['TSLA', 'PEP', 'AAL', 'AMD', 'GOOGL']
Short Positions: ['ORCL', 'AMZN', 'AAPL', 'MSFT', 'NKE']

Week of 2024-06-16:
Long Positions: ['AMD', 'PEP', 'NKE', 'AAL', 'IBM']
Short Positions: ['ORCL', 'AAPL', 'MSFT', 'GOOGL', 'TSLA']

Week of 2024-06-23:
Long Positions: ['AAPL', 'AAL', 'TSLA', 'AMD', 'ORCL']
Short Positions: ['NKE', 'AMZN', 'GOOGL', 'PEP', 'IBM']

Week of 2024-06-30:
Long Positions: ['NKE', 'PEP', 'MSFT', 'ORCL', 'IBM']
Short Positions: ['TSLA', 'AMZN', 'AAPL', 'GOOGL', 'AAL']

Week of 2024-07-07:
Long Positions: ['NKE', 'AAL', 'PEP', 'AMZN', 'GOOGL']
Short Positions: ['TSLA', 'AMD', 'AAPL', 'ORCL', 'MSFT']

Week of 2024-07-14:
Long Positions: ['AAL', 'MSFT', 'GOOGL', 'AMZN', 'NKE']
Short Positions: ['AMD', 'IBM', 'AAPL', 'PEP', 'ORCL']

Week of 2024-07-21:
Long Positions: ['AMD', 'AMZN', 'ORCL', 'GOOGL', 'TSLA']
Short Positions: ['PEP', 'IBM', 'AAL', 'NKE', 'AAPL']

Week of 2024-07-28:
Long Positions: ['TSLA', 'AMD', 'GOOGL', 'AAPL', 'MSFT']
Short Positions: ['IBM', 'PEP', 'AAL', 'ORCL', 'NKE']

Week of 2024-08-04:
Long Positions: ['AAL', 'AMZN', 'TSLA', 'AMD', 'ORCL']
Short Positions: ['PEP', 'NKE', 'AAPL', 'GOOGL', 'IBM']

Week of 2024-08-11:
Long Positions: ['TSLA', 'PEP', 'GOOGL', 'AAPL', 'ORCL']
Short Positions: ['AAL', 'IBM', 'AMD', 'NKE', 'AMZN']

Week of 2024-08-18:
Long Positions: ['GOOGL', 'PEP', 'IBM', 'AAL', 'MSFT']
Short Positions: ['NKE', 'AMD', 'TSLA', 'AMZN', 'ORCL']

In [40]:
# if not longs.empty() and not shorts.empty():
#     last_week = sorted(longs.keys())[-1]
#     plot_candidates(data, longs[last_week], "Long")
#     plot_candidates(data, shorts[last_week], "Short")

AttributeError: 'dict' object has no attribute 'empty'